body{
    background: linear-gradient(to right, #000000, #82bcc5);
    background-size: 200%;
   animation: grad 20s infinite alternate;
    color: white;
}

@keyframes grad {
    0%{
       background-position:left ;
    }
    100%{
       background-position: right;
    }
}
.navbar-dark{
    background-color: rgba(242, 220, 245, 0) !important;
    
}

.nav-link {
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    
    display: inline-block;
    
    position: relative;
  }
  .nav-link:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #ec0f0f;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  a:hover{
    color: aquamarine !important;
  }
  a:hover:after { 
    width: 100%; 
    left: 0; 
  }
  .active{
    color: white !important;
    font-weight: bold !important;
  }


/* .slide {
box-shadow: 16.5px 19px 44px 5px #03030350;
} */
#dp{
    box-shadow: 10.5px 8px 25px -9px rgba(28, 28, 28, 0.59);


}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 10rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: whitesmoke;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}
